<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fpreviews.123rf.com%2Fimages%2Ftanyastock%2Ftanyastock1803%2Ftanyastock180300490%2F97923644-user-icon-avatar-login-sign-circle-button-with-soft-color-gradient-background-vector.jpg&tbnid=lcYCvnxkkFx6QM&vet=12ahUKEwjihf_yivuDAxUzWaQEHYmVCeIQMygvegUIARCSAQ..i&imgrefurl=https%3A%2F%2Far.inspiredpencil.com%2Fpictures-2023%2Fmember-login-icon&docid=eUjDEcCXFZxuUM&w=1300&h=1016&itg=1&q=favicon%20login&hl=en-US&client=ubuntu-sn&ved=2ahUKEwjihf_yivuDAxUzWaQEHYmVCeIQMygvegUIARCSAQ" type="image/x-icon">
    <script type="module" src="/js/index.js" defer></script>
</head>
<body>
	
</body>
</html>